<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.billing.hotbill.impl.mapper.CancellationLogMapper">

    <resultMap id="CancellationLogResultMap" type="com.billing.hotbill.impl.entity.CancellationLogEntity">
        <id property="contractNumber" column="CONTRACT_NUMBER"/>
        <id property="hotbillDate" column="HOTBILL_DATE"/>
        <id property="seqNo" column="SEQ_NO"/>
        <result property="tableName" column="TABLE_NAME"/>
        <result property="snapshotData" column="SNAPSHOT_DATA"/>
        <result property="createDatetime" column="CREATE_DATETIME"/>
    </resultMap>

    <insert id="insert" parameterType="com.billing.hotbill.impl.entity.CancellationLogEntity">
        INSERT INTO TB_CANCELLATION_LOG (
            CONTRACT_NUMBER,
            HOTBILL_DATE,
            SEQ_NO,
            TABLE_NAME,
            SNAPSHOT_DATA,
            CREATE_DATETIME
        ) VALUES (
            #{contractNumber},
            #{hotbillDate},
            #{seqNo},
            #{tableName},
            #{snapshotData},
            #{createDatetime}
        )
    </insert>

    <select id="selectByContracts" resultMap="CancellationLogResultMap">
        SELECT CONTRACT_NUMBER,
               HOTBILL_DATE,
               SEQ_NO,
               TABLE_NAME,
               SNAPSHOT_DATA,
               CREATE_DATETIME
        FROM TB_CANCELLATION_LOG
        WHERE HOTBILL_DATE = #{hotbillDate}
          AND CONTRACT_NUMBER IN
        <foreach collection="contractNumbers" item="contractNumber" open="(" separator="," close=")">
            #{contractNumber}
        </foreach>
        ORDER BY CONTRACT_NUMBER, SEQ_NO
    </select>

</mapper>
